body {
    font-size: 20px;
    line-height: 25px;
}
h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: sandybrown;
}
a {
    color: green;
}
a:hover {
    cursor: pointer;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.header {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.photo {
    display: block;
    width: 40%;
    border-radius: 100%;
}
.descr {
    width: 40%;
}
.header .name {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.header>.about-me {
    font-size: 20px;
}
.main {
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
.main .column {
    width: 50%;
    padding: 0 40px;
}
section {
    margin-bottom: 25px;
}
span {
    font-style: italic;
}
td {
    padding: 5px 15px;
}
